body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background: #f4f4f4;
}

h1 {
  margin: 20px;
}

.map-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

object {
  width: 100%;
  height: auto;
}
